<section class="py-5">
      <div class="container">
        <h1>FindRice</h1>
        <p class="lead">Tackling rural-to-urban migration problem by matching jobs in the Medium Cities in Vietnam</p>
        <p>This project was inspired by the impact of climate change on rice production in Vietnam. The socio-economic problem that arose from this includes the movement of rural farmers to the
        main cities like Hanoi and Ho Chi Minh to find prosperity.
       <br />
         While we may not be able to fix climate change problem, we believe that we can help rural farmers find jobs in places other than the highly populated cities.
       <br />
     Medium cities like Lao Cai, Vinh and Phu Ly have been under development using the World Bank loans.
   <br />
      These cities have the potential to have good job opportunities and better livelihood for the migrators.</p>
      </div>
    </section>

    <!-- Image Section - set the background image for the header in the line below -->
     <section class="py-5">
       <img src="https://file.alotrip.com/photo/lao-cai/lao-cai-city-633.jpeg"/>
      <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
      <div style="height: 200px;"></div>
    </section>

    <!-- Content section -->
    {{!-- <section class="py-5">
      <div class="container">
        <h1>Section Heading</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
      </div>
    </section> --}}
