
<!-- Job prospects BANNER -->
		<div class="container">
			<div class="jumbotron thumbnail">
				<h1>
					<i class="fa fa-camera-retro" aria-hidden="true"></i>


					 Where to find rice?
				</h1>
				<p>Beautiful Images</p>
				<img src="http://i.imgur.com/qK42fUu.jpg">
			</div>

			<section class="row">
				<div class="visible-lg col-lg-2">
					<div class="browse-sidebar-col">
						<h4 class="browse-category-heading">Browse Opportunities</h4>
						<ul class="browse-category">
							<li class="browse-category-item"><a href="https://www.google.com">Google</a></li>
							<li class="browse-category-item"><a href="https://www.google.com">Google</a></li>
							<li class="browse-category-item"><a href="https://www.google.com">Google</a></li>
						</ul>

					</div>

				</div>
<!-- Start of Job Listing -->
				<div class="col-md-12 col-lg-8">
					<div class="row">
<!-- A single job listing in a table -->
{{#each jobs}}
						<div class="col-lg-4 col-sm-6 job-listing thumbnail">
							<h3 class="job-title"><a href={{this.hyperlink}} target="_blank">{{{this.title}}}</a></h3>
							<table class="job-description job-description-table">
									<tr>
										<td> <span class="job-description-header">Sector:</span></td>
										<td>{{{this.sector}}}</td>
									</tr>
									<tr>
										<td> <span class="job-description-header">Location:</span></td>
										<td>{{{this.city_name}}}, Vietnam</td>
									</tr>
							</table>

						</div>
						{{/each}}


{{!--
						<div class="col-lg-4 col-sm-6 job-listing thumbnail">
							<h3 class="job-title"><a href="https://vn.indeed.com/viewjob?jk=49661c7b8ce9684e&tk=1c9dcqrmm0tht6bd&from=serp&vjs=3" target="_blank">Real Estate Business Staff </a></h3>
							<table class="job-description job-description-table">
									<tr>
										<td> <span class="job-description-header">Sector:</span></td>
										<td>Real Estate</td>
									</tr>
									<tr>
										<td> <span class="job-description-header">Location:</span></td>
										<td>Vinh</td>
									</tr>
							</table>
						</div>
						<div class="col-lg-4 col-sm-6 job-listing thumbnail">
							<h3 class="job-title"><a href="https://vn.indeed.com/viewjob?jk=49661c7b8ce9684e&tk=1c9dcqrmm0tht6bd&from=serp&vjs=3" target="_blank">Real Estate Business Staff </a></h3>
							<table class="job-description job-description-table">
									<tr>
										<td> <span class="job-description-header">Sector:</span></td>
										<td>Real Estate</td>
									</tr>
									<tr>
										<td> <span class="job-description-header">Location:</span></td>
										<td>Vinh</td>
									</tr>
							</table>

						</div>
				</div> --}}
<!-- End of Job Listing -->
				<div class="visible-lg col-lg-2">
				</div>

			</section>


		</div>
