body {
	font-family: lato;
	background-size: cover;
	background-position: center;
}

.container {
	padding-top:20px;
}

.jumbotron {
	color: #FFFFFF;
	background: url(../background_vietnamcity.jpg);
	background-size: 700px;
	padding: 10px;
	border-radius: 5px;
}

.jumbotron > img {
	height: 50%;
	max-width: 1000px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-inverse {
	background-color: #6B8F71;
}

.navbar-inverse .navbar-nav>li>a {
	color: #FFFFFF;
}

.navbar-inverse .navbar-brand {
	color: #FFFFFF;
}


.job-listing {
	background: rgba(255, 255, 255, 0.8);
	padding: 10px;
	border-radius: 5px;
	font-size: 110%;
}

.job-title {
	color: #2c3e50;

}
/*
.job-title:visited {
	color: inherit;
	text-decoration: none;
}


.job-title:hover {
	color: inherit;
	text-decoration: none;
} */

.job-description-header{
	font-weight: 700;
	color: #2c3e50;
}



.browse-sidebar-col {
	background-color: #B9F5D895;
	height: 100%;
	padding: 5px;
	border-radius: 5px;
}

.browse-category-heading {
	font-weight: 700;
	font-size: 150%;
}

.browse-category-item {
	font-size: 110%;
}

ul {
  list-style-type: none;
}


/*

.job-description-table {
	padding: 5px;
	color: #2c3e50;
	border-radius: 10px;
}

.job-listing {
	background-color: #AAD2BA;

}
 */


 a:link    {
   /* Applies to all unvisited links */
   text-decoration:  none;

   color:            inherit;
   }
 a:visited {
   /* Applies to all visited links */
   text-decoration:  none;

   color:            inherit;
   }
 a:hover   {
   /* Applies to links under the pointer */
   text-decoration:  none;

   color:            inherit;
   }
 a:active  {
   /* Applies to activated links */
   text-decoration:  none;

   color:            inherit;
   }

	 /* Always set the map height explicitly to define the size of the div
		* element that contains the map. */

#map {
 height: 500px;
  width: 500px;
  /* position: absolute;
 left: 200px;
 top: 100px; */
	 }
	 /* Optional: Makes the sample page fill the window. */
	 /*html, body {
		 height: 100%;
		 margin: 0;
		 padding: 0;*/
	 }

	 .footer {
		 background-color: #6cd45f;
	 }
